<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="DB_L17ConnectionString" connectionString="Data Source=KHATRI\MSSQLSERVER2;Initial Catalog=DB_L17;User ID=sa;Password=2059794842"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
